* {
    text-align: center;
    margin: 0 auto;
    position: relative;
    font-family: fantasy;
}

body {
    background-image: url("../img/abstract.jpeg");
    background-color: #cccccc;
}

h1 {
    margin-top: 50px;
    color: darkred;
    font-size: 50px;
}

.container {
    width: 100%;
    height: 500px;
    margin: auto;
}

.top-bar {
    margin-top: 50px;
    margin-right: 300px;
    height: 80px;
    color: darkred;
}

li {
    margin-top: 50px;
    float: right;
    padding: 10px 80px 0px 0px;
    display: inline;
    font-size: 35px;
}

.emoji {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    font-size: 40px;
}

table {
    background-image: url("../img/abstract.jpeg");
    margin-top: 100px;
    border-collapse: collapse;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(249, 187, 197);
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
}

h2 {
    display: none;
}

h3 {
    display: none;
}

.difficulty {
    background-image: url("../img/abstract.jpeg");
    color: rgb(152, 0, 0);
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    margin: 60px;
    margin-top: 30px;
    border: 1px ridge black;
    border-radius: 5px;
}

.first-mine {
    background-color: red;
}